body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color:#2e2f42;
}

ul {
    list-style-type: none;
}

.header-link {
    color: #2e2f42;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal
}
.header-address-link {
    color: #434455;
    letter-spacing: 0.02em;  
} 

.header-address-link:hover {
    color: #404bbf;
}

.header-addres-link:focus {
    color: #404bbf;
}

.hero-section {
    background: #2e2f42;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    color: #404BBF;
}

.ot-header {
    font-weight: 500;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;  
}

.ot-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-team-title h2 {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.team-list {
    text-align: center;
}

.portfolio-section {
    background-color: #F4F4FD;
}
.portfolio-title h2 {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.portfolio-header {
    font-weight: 500;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;  
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    background: #f4f4fd;
}

.footer-section {
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-accent {
    color:#f4f4fd 
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    font-size: 16px;
}